<style type="text/css"><!--
body {
    margin: auto;
    width: 80em;
    background-color: #AEBECE;
}
h1, h2, h3, h4 { text-align: center }
h1, h2, h3, h4, strong { color: #900090 }
pre { background-color: #CCCCCC }
table, th, td { border: 1px solid black }
--></style>
