Source: nncp
Section: comm
Priority: optional
Maintainer: jgoerzen <jgoerzen@complete.org>
Build-Depends: debhelper-compat (= 12), golang, pandoc
Standards-Version: 4.4.0
Homepage: http://www.nncpgo.org/
Vcs-Browser: https://github.com/jgoerzen/nncp
Vcs-Git: https://github.com/jgoerzen/nncp.git

Package: nncp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Secure store-and-forward files, mail, and commands
 NNCP is a package facilitating secure store-and-forward file and mail
 exchange.  It can be thought of as a modern UUCP with Internet smarts.
 .
 NNCP supports direct online communication over a LAN or Internet,
 scheduled communication, offline copies, streaming communication
 (pipes), and more.  It can therefore be used for air-gapped computers
 that might be communicated with by CD-ROM, tape, or USB stick.  It can
 also be used for intermittent or on-demand links, very slow or high
 latency links, etc.
 .
 Like UUCP, NNCP supports routing messages via intermediate systems.
 With NNCP, however, all packets are end-to-end encrypted and
 authenticated, making this more proper onion routing -- the
 intermediate systems have no visibility to the content of the data
 being passed.  NNCP also has robust tools for interrupted transfer
 resumption, handling of very large files, and verifying integrity of
 data copied off.
 .
 NNCP can be used to exchange email and Usenet news, send files, and
 remotely execute commands.
